{% extends 'authenticated_base.html.twig' %}

{% block title %}{% trans %}Documents{% endtrans %}{% endblock %}

{% block content %}

    <h1 class="page-title">{% trans %}Documents{% endtrans %}</h1>

    {% include '/includes/flash.html.twig' %}

    {% if app.request.locale == 'nl' %}
        {% include 'documents/documents_list.html.twig' with {'title': 'Documents.title.nl', 'files': dutchFiles, 'locale': 'nl'} %}
    {% endif %}

    {% include 'documents/documents_list.html.twig' with {'title': 'Documents.title.fr', 'files': frenchFiles, 'locale': 'fr'} %}

    {% if app.request.locale == 'fr' %}
        {% include 'documents/documents_list.html.twig' with {'title': 'Documents.title.nl', 'files': dutchFiles, 'locale': 'nl'} %}
    {% endif %}

{% endblock %}
