<h3>{{ title|trans }}</h3>
<ul>
    {% for file in files %}
        <li>
            <a target="_blank" href="/documents/{{ locale }}/{{ file.relativePathName|url_encode }}">{{ file.title }}</a>
        </li>
    {% endfor %}
</ul>
