<h3>{{ title|trans }}</h3>
<ul>
    {% for file in files %}
        <li>
            <a target="_blank" href="/documents/{{ app.request.locale }}/{{ file.relativePathName }}">{{ file.relativePathName }}</a>
        </li>
    {% endfor %}
</ul>
