<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/*</directory>
        </whitelist>
        <blacklist>
            <file>./src/Kernel.php</file>
            <file>./src/Company/Controllers/CompanyViewController.php</file>
            <file>./src/Question/Controllers/QuestionViewController.php</file>
            <file>./src/User/Controllers/UserViewController.php</file>
        </blacklist>
    </filter>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
</phpunit>
