{% extends 'authenticated_base.html.twig' %}

{% block title %}{% trans %}Password.edit.title{% endtrans %}{% endblock %}

{% block content %}

    <h1 class="page-title">{% trans %}Password.edit.title{% endtrans %}</h1>

    {% include '/includes/flash.html.twig' %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate','class': 'form-register'}}) }}
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <label for="form_oldPassword">{% trans %}Password.old{% endtrans %}</label>
                {{ form_widget(form.oldPassword) }}
                {{ form_errors(form.oldPassword) }}
            </div>
        </div>
    </div>

    {% include '/accounts/confirm_password.html.twig' %}

    <div class="form-group">
        <h5 class="form-text text-muted">{% trans %}Password.edit.warning{% endtrans %}</h5>
        <button type="submit" class="btn btn-primary">{% trans %}Button.edit{% endtrans %}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
