<a href="{{ path('accounts_view_register') }}">https://app.groteverkeersquiz.be/nl/inschrijven</a>
<a href="https://www.groteverkeersquiz.be/quiz/vsv">https://www.groteverkeersquiz.be/quiz/vsv</a>

<p class="text-center">
    <a role="button"
       class="btn btn-primary "
       href="{{ path('accounts_view_register') }}">{% trans %}Registration.submit{% endtrans %}
    </a><br>
    <span class="text-muted">Meer informatie volgt na inschrijving.</span>
</p>

<h3>VRAGEN?</h3>
<address>
    VSV <br>
    <a href="mailto:quiz@vsv.be">quiz@vsv.be</a><br>
    <a href="tel:+3215443262">tel. 015 44 32 62</a><br>
</address>