<a href="{{ path('accounts_inschrijven') }}">https://app.groteverkeersquiz.be/nl/inschrijven</a>
<a href="https://www.groteverkeersquiz.be/quiz/vsv">https://www.groteverkeersquiz.be/quiz/vsv</a>

<p class="text-center">
    <a role="button"
       class="btn btn-primary btn-lg m-3"
       href="{{ path('accounts_inschrijven') }}">{% trans %}Registration.submit{% endtrans %}
    </a><br>
</p>

<h4>VRAGEN?</h4>
<address>
    VSV <br>
    <a href="mailto:quiz@vsv.be">quiz@vsv.be</a><br>
    <a href="tel:+3215443262">tel. 015 44 32 62</a><br>
</address>
