<h1 class="text-center">{% trans %}Info.title{% endtrans %}</h1>

{% if not registrations_closed %}
<p class="text-center">
    <a role="button"
       class="btn btn-primary btn-lg m-3"
       href="{{ path('accounts_inscription') }}">{% trans %}Registration.submit{% endtrans %}
    </a><br>
</p>
{% endif %}

<h4>METTEZ VOS COLLÈGUES AU DÉFI!</h4>

<p>Le Quiz de la Route de l’Agence Wallonne pour la Sécurité Routière (AWSR) revient pour la troisième année
    consécutive, en collaboration avec le VSV!
    Le Quiz de la Route, c’est l’occasion de rafraîchir vos connaissances en sécurité routière tout en vous amusant avec
    vos collègues.
    En 2017, plus de 33.000 Wallons ont participé au Quiz de la Route, dont près de 5.000 collaborateurs dans 120
    entreprises!
    N’hésitez plus, faites comme eux et inscrivez dès maintenant votre entreprise, qu’elle soit publique ou privée!</p>

<h4>EN PRATIQUE</h4>
<ul>
    <li>Le quiz comporte 15 questions à choix multiple et dure +/- 5 minutes</li>
    <li>Le quiz est gratuit et existe en 2 langues: français et néerlandais</li>
    <li>Toute personne qui obtient un score minimum de 11/15 et qui répond aux questions subsidiaires est susceptible de
        remporter à titre personnel l’un des nombreux prix mis en jeu, dont un chèque voyage d’une valeur de 1.000
        euros!
    </li>
    <li>Votre entreprise peut elle aussi remporter l’un des 5 prix "entreprise", comme par exemple une action de
        sensibilisation pour votre journée sécurité, pour autant qu’au moins 10 personnes aient fait le quiz et que le
        score moyen soit de 11/15.
    </li>
    <li>Le quiz a lieu du 18 octobre au 18 novembre 2019</li>
</ul>

<h4>RÉSULTATS</h4>
<ul>
    <li>Vous pouvez voir à tout moment combien de personnes ont déjà participé au sein de votre entreprise.</li>
    <li> A l’issue du quiz, qui se termine le 18 novembre, vous pourrez télécharger un rapport avec les résultats de
        votre entreprise (aucun score personnel), un aperçu des meilleurs participants, le score moyen de votre
        entreprise,
        les questions ayant obtenu le plus ou le moins de bonnes réponses, le taux de réussite, etc.
    </li>
</ul>

<h4>MATÉRIEL DE PROMOTION</h4>
<ul>
    {% if not registrations_closed %}
    <li>Vous inscrivez préalablement votre entreprise sur <a href="{{ path('accounts_inscription') }}">https://app.quizdelaroute.be/fr/inscription</a>.
    </li>
    {% endif %}
    <li>Un hyperlien personnalisé sera automatiquement généré, via lequel vos collègues pourront jouer à partir du 18
        octobre (p. ex. <a href="https://www.quizdelaroute.be/quiz/awsr">https://www.quizdelaroute.be/quiz/awsr</a>).
    </li>
    <li>Nous vous enverrons ensuite des textes et des visuels sous forme numérique pour votre intranet, votre bulletin
        d’information, votre newsletter, etc.
    </li>
</ul>

<p>De plus amples informations suivront après votre inscription.</p>

<h4>DES QUESTIONS?</h4>
<address>
    AWSR <br>
    <a href="mailto:quiz@awsr.be">quiz@awsr.be</a><br>
    <a href="tel:+3281821300">tél. 081 821 300</a><br>
</address>



