<h1 class="text-center">De Grote Verkeersquiz voor bedrijven</h1>

<p class="text-center">
    <a role="button"
       class="btn btn-primary btn-lg m-3"
       href="{{ path('accounts_inschrijven') }}">{% trans %}Registration.submit{% endtrans %}
    </a><br>
</p>

<h3>Daag je collega’s uit</h3>
<p>De Grote Verkeersquiz van de VSV (Vlaamse Stichting Verkeerskunde) is met zijn negende editie intussen voor heel wat mensen een vaste waarde. Net als de voorbije vier jaar geven we ook dit jaar bedrijven en organisaties de kans om hun verkeerskennis te testen. Neem het op tegen je collega’s en laat zien dat jij de beste bent.</p>
<p>Het concept is heel eenvoudig. De Grote Verkeersquiz is een online quiz waarmee je je verkeerskennis in minder dan 10 minuten op een leuke manier opfrist. Vorig jaar doorliepen zo'n 115.000 deelnemers de volledige quiz.</p>
<p>Schrijf je bedrijf in en laat je collega’s het tussen 15 oktober en 15 november tegen elkaar opnemen. Deelnemen is bovendien heel simpel.</p>

<h3>Aanbod 2018</h3>
<p>PROMOTIEMATERIAAL</p>
<ul>
    <li>Na je inschrijving zorgen wij voor een persoonlijke bedrijfsurl waarop je collega’s spelen (bv. www.degroteverkeersquiz.be/quiz/vsv).</li>
    <li>Daarnaast bezorgen we je ook digitaal tekst- en beeldmateriaal voor interne communicatie en promotie (website, nieuwsbrief, mailing, …).</li>
</ul>
<p>RESULTATEN</p>
<ul>
    <li>Je kan op elk moment zien hoeveel van je collega’s al deelnamen.</li>
    <li>Na afloop krijg je een bedrijfsrapport met resultaten (geen persoonlijke scores), overzicht beste spelers, gemiddelde bedrijfsscore, best en slechtst beantwoorde vragen, slaagpercentage, enz.</li>
</ul>

<h3>Waarom meedoen?</h3>
<ul>
    <li>gratis deelnemen;</li>
    <li>gepersonaliseerde url voor je bedrijf;</li>
    <li>beschikbaar in Nederlands én Frans;</li>
    <li>gratis promotiemateriaal;</li>
    <li>verkeerskennis collega’s op leuke manier opfrissen;</li>
    <li>quiz duurt maar een 5-tal minuten;</li>
    <li>leuke bedrijfsactie, goed voor de sfeer;</li>
    <li>kans om straffe prijzen, zowel individueel als voor het hele bedrijf;</li>
    <li>handige opvolgingstool tijdens quiz;</li>
    <li>na afloop bedrijfsresultaten en -statistieken in overzichtelijk rapport, leuk voor eindejaarsfeest en jaarverslag!</li>
</ul>

<p class="font-weight-bold">Prijzen</p>
<p>Iedereen die deelneemt en de schiftingsvragen beantwoordt, maakt kans op een prijs. Misschien winnen jij of 1 van je collega’s wel een reischeque ter waarde van 1000 euro.</p>
<p>Daarnaast kan ook je bedrijf of organisatie aan de haal gaan met een straffe prijs. Uit alle bedrijven waar minstens 10 personen de quiz volledig uitspeelden en waar de gemiddelde score 14 of meer op 20 is, trekken we 11 winnaars. De prijzen: 3 Drive 2.0-toestellen met dank aan DATS 24, 5 workshops uit ons aanbod Safe2work voor bedrijven, 1 workshop met onze virtualrealitybrillen, 1 workshop met onze tuimelwagen en 1 workshop met onze VR-mobiel, telkens voor het hele bedrijf!</p>

<h3>Andere voordelen</h3>
<p class="font-weight-bold">Op een leuke manier sensibiliseren</p>
<p>Uit onderzoek blijkt dat heel wat arbeidsongevallen verkeersongevallen zijn. Dat aantal neemt de laatste jaren zelfs nog toe. De Grote Verkeersquiz is de ideale manier om daar als bedrijf iets aan te doen. Je collega’s frissen hun verkeerskennis eenvoudig en spelenderwijs op.</p>
<p class="font-weight-bold">Leuke, interessante statistieken over je bedrijf</p>
<p>Arbeidsongevallen in het verkeer zijn gemiddeld ernstiger dan andere arbeidsongevallen en vormen voor heel wat werkgevers een belangrijke kostenpost. Zowel direct in de vorm van bijvoorbeeld schadevergoedingen, als indirect door productiviteitsverlies, imagoschade, enz. Ook het leed van de betrokkene en zijn naasten is vaak niet te onderschatten. Conclusie: Beter voorkomen dan genezen. Wie meequizt, wint altijd!</p>
<p class="font-weight-bold">Altijd gewonnen</p>
<p>Facts & figures zijn altijd boeiend en leerrijk. Als je bedrijf deelneemt aan De Grote Verkeersquiz, krijg je van ons statistische gegevens die je achteraf kunt delen. Wat is de gemiddelde score in je bedrijf? Welke vragen werden het best en slechtst beantwoord? Enz.</p>

<p>De quiz zelf loopt van 15 oktober tot en met 15 november 2018. Inschrijven kan tot en met 14 november.</p>

<p>Meer info volgt na je inschrijving.</p>

<h3>Vragen?</h3>
<p>VSV, Ellen Loos, <a href="mailto:quiz@vsv.be">quiz@vsv.be</a></p>

<p class="text-center">
    <a role="button"
       class="btn btn-primary btn-lg mt-1 mb-5"
       href="{{ path('accounts_inschrijven') }}">{% trans %}Registration.submit{% endtrans %}
    </a><br>
</p>

<h3>Op zoek naar meer? Safe2Work!</h3>
<p>Jaarlijks telt ons land meer dan 15.000 arbeidsongevallen in het verkeer. Die hebben vaak ernstigere gevolgen dan ongelukken buiten het verkeer: bijna de helft van alle dodelijke arbeidsongevallen gebeurt op de weg.</p>
<p>Met Safe2work kan je je werknemers gemakkelijk en op een laagdrempelige manier sensibiliseren rond mobiliteit en verkeersveiligheid. Kies voor een losse actie of stel een volledig programma samen.</p>

<p class="font-weight-bold">Een greep uit het aanbod</p>

<p>Workshops</p>
<ul>
    <li>fietsen</li>
    <li>afleiding in het verkeer</li>
    <li>snelheid</li>
    <li>dode hoek</li>
    <li>rijden onder invloed van alcohol, drugs en medicatie</li>
</ul>

<p>Sensibiliserende acties</p>
<ul>
    <li>virtualrealitybrillen</li>
    <li>tuimelwagen</li>
    <li>VR-mobiel</li>
</ul>

<p>Voor professionals</p>
<ul>
    <li>netwerkevents</li>
    <li>opleidingen</li>
    <li>nuttige tools voor je mobiliteitsbeleid</li>
</ul>

<p>Voor het volledige aanbod en meer info kan je terecht op <a href="https://www.safe2work.be">www.safe2work.be</a>.</p>
