{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="registration_form_email">{% trans %}E-mail{% endtrans %}</label>
                {{ form_widget(form.email) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{%  endblock %}
