{% extends 'anonymous_base.html.twig' %}

{% block title %}{% trans %}Registration.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        {% include '/includes/flash.html.twig' %}

    <h1 class="visually-hidden">{% trans %}Registration.title{% endtrans %}</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{% trans %}Registration.success.title{% endtrans %}</h2>
            <h3 class="card-subtitle text-muted">{% trans %}Registration.success.subtitle{% endtrans %}</h3>
            <hr>
            <p class="card-text">{% trans %}Registration.success.text{% endtrans %}</p>
            <p class="card-text">{% trans %}Registration.success.extra{% endtrans %}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/includes/linkedin-insight-tag.html.twig' %}
{% endblock %}
