{% extends 'base.html.twig' %}

{% block title %}{% trans %}Registreren{% endtrans %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{% trans %}Registration success title{% endtrans %}</h1>
        <p class="lead">{% trans %}Registration success text{% endtrans %}</p>
        <hr>
        <p>{% trans %}Registration success extra{% endtrans %}</p>
    </div>
{% endblock %}
