{% extends 'base.html.twig' %}

{% block title %}{% trans %}Wachtwoord herstellen{% endtrans %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{% trans %}Request password reset success title{% endtrans %}</h5>
            <h6 class="card-subtitle text-muted">{% trans %}Request password reset success subtitle{% endtrans %}</h6>
            <hr>
            <p class="card-text">{% trans %}Request password reset success text{% endtrans %}</p>
            <p class="card-text">{% trans %}Request password reset success extra{% endtrans %}</p>
            <hr>
            <a href="#" class="card-link">{% trans %}Naar GVQ site{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
