{% extends 'anonymous_base.html.twig' %}

{% block title %}{% trans %}Password.request.success.title{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="visually-hidden">{% trans %}Password.request.success.title{% endtrans %}</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{% trans %}Password.request.success.title{% endtrans %}</h2>
            <h3 class="card-subtitle text-muted">{% trans %}Password.request.success.subtitle{% endtrans %}</h3>
            <hr>
            <p class="card-text">{% trans %}Password.request.success.text{% endtrans %}</p>
            <p class="card-text">{% trans %}Password.request.success.extra{% endtrans %}</p>
            <hr>
            <a href="{{ path('accounts_view_login') }}" class="card-link">{% trans %}To.login{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
