{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reset password success title{% endtrans %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{% trans %}Reset password success title{% endtrans %}</h5>
            <h6 class="card-subtitle text-muted">{% trans %}Reset password success subtitle{% endtrans %}</h6>
            <hr>
            <p class="card-text">{% trans %}Reset password success text{% endtrans %}</p>
            <p class="card-text">{% trans %}Reset password success extra{% endtrans %}</p>
            <hr>
            <a href="{{ path('accounts_view_login') }}" class="card-link">{% trans %}Naar Login pagina{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
