{% extends 'anonymous_base.html.twig' %}

{% block title %}{% trans %}Password.reset.success.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{% trans %}Password.reset.success.title{% endtrans %}</h5>
            <h6 class="card-subtitle text-muted">{% trans %}Password.reset.success.subtitle{% endtrans %}</h6>
            <hr>
            <p class="card-text">{% trans %}Password.reset.success.text{% endtrans %}</p>
            <p class="card-text">{% trans %}Password.reset.success.extra{% endtrans %}</p>
            <hr>
            <a href="{{ path('accounts_view_login') }}" class="card-link">{% trans %}To.login{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
