{% extends 'anonymous_base.html.twig' %}

{% block title %}{% trans %}Password.reset.title{% endtrans %}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="card-title">{% trans %}Password.reset.title{% endtrans %}</div>
        </div>

        <div class="card-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            {% include '/accounts/confirm_password.html.twig' %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans %}Password.reset.submit{% endtrans %}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
