{% extends 'anonymous_base.html.twig' %}

{% block title %}{% trans %}Reset password error title{% endtrans %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{% trans %}Reset password error title{% endtrans %}</h5>
            <h6 class="card-subtitle text-muted">{% trans %}Reset password error subtitle{% endtrans %}</h6>
            <hr>
            <p class="card-text">{% trans %}Reset password error text{% endtrans %}</p>
            <p class="card-text">{% trans %}Reset password error extra{% endtrans %}</p>
            <hr>
            <a href="#" class="card-link">{% trans %}Naar GVQ site{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
