/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/
::-moz-selection {
  background: rgba(108, 196, 233, 0.8);
  color: #fff;
  text-shadow: none; }

::selection {
  background: rgba(108, 196, 233, 0.8);
  color: #fff;
  text-shadow: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  min-width: 260px;
  background-color: #ffffff;
  color: #65696b;
  font-family: "Open Sans", sans-serif;
  font-weight: regular;
  line-height: 1.65em;
  font-size: 1rem;
  margin: 0; }

html, body, .dialog-off-canvas-main-canvas, .site-container {
  height: 100%; }

textarea {
  resize: vertical; }

a {
  transition: color 200ms cubic-bezier(0, 0, 0.15, 0.825), background-color 200ms cubic-bezier(0, 0, 0.15, 0.825), background-image 200ms cubic-bezier(0, 0, 0.15, 0.825), border 200ms cubic-bezier(0, 0, 0.15, 0.825);
  color: #6cc4e9;
  cursor: pointer; }
  a:hover, a:focus {
    color: #29a9df;
    text-decoration: none; }

p {
  margin: 0 0 1em; }

hr {
  margin-top: 1.65em;
  margin-bottom: 1.65em;
  border: 0;
  border-top: 1px solid #65696b; }

svg {
  fill: currentColor; }

/*! == Helper classes == */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: '';
    display: block;
    width: 0;
    height: 100%; }

.superhidden {
  display: none !important;
  visibility: hidden; }

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static; }

.invisible {
  visibility: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.print-only,
.print-only-inline {
  display: none; }

.pull--left {
  float: left; }

.pull--right {
  float: right; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .print-only {
    display: block; }

  .print-only-inline {
    display: inline; } }
.btn {
  font-weight: bold; }
  .btn-primary {
    background-color: #6cc4e9;
    border-color: #6cc4e9; }
    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
      background-color: #40b2e2;
      border-color: #40b2e2; }

hr {
  border-top-color: rgba(0, 0, 0, 0.125); }

.text-muted {
  color: #989c9e !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.85rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

h1, .h1 {
  font-size: 2rem; }

h2, .h2 {
  font-size: 1.8rem; }

h3, .h3 {
  font-size: 1.4rem; }

h4, .h4 {
  font-size: 1.1rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: .85rem; }

.card-header,
.card-footer {
  background-color: #fff; }

.card-title {
  font-size: 1.2em; }

.card-subtitle {
  font-size: 1em; }

.card-title + .card-subtitle {
  margin-top: 1rem; }

.card-link {
  font-weight: 600;
  text-decoration: underline; }

input, button, select, optgroup, textarea {
  max-width: 350px; }

.page-main {
  background-color: #f5f5f5;
  padding-bottom: 20px;
  padding-top: 20px; }
  @media (min-width: 768px) {
    .page-main {
      padding-bottom: 40px;
      padding-top: 40px; } }
  @media (min-width: 992px) {
    .page-main {
      padding-bottom: 80px;
      padding-top: 80px; } }

small {
  line-height: 1.15em; }

.invalid-feedback {
  line-height: 1.15em; }

.footer-partners {
  border-top: 1px solid #6cc4e9;
  padding: 20px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer-partners {
      padding: 40px 0; } }
  .footer-partners img {
    height: auto;
    max-height: 80px;
    max-width: 150px;
    margin-bottom: 40px; }

.footer-sponsors {
  background-color: #6cc4e9;
  color: #ffffff;
  padding: 20px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer-sponsors {
      padding: 40px 0; } }
  .footer-sponsors img {
    height: auto;
    max-height: 25px;
    max-width: 100%; }

.page-footer {
  padding: 20px 0;
  text-align: right; }

.page-header {
  padding: 20px 0;
  border-bottom: 5px solid #6cc4e9; }

/*# sourceMappingURL=style.css.map */
