{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/quiz.css') }}" rel="stylesheet"/>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="gvq-quiz">
            <div class="card m-4">
                <div class="card-header"><h2 class="card-title">Bedankt</h2></div>
                <div class="card-body"><p>{% trans %}Contest.success{% endtrans %}</p></div>
            </div>
        </div>
    </div>
{% endblock %}
