{% extends 'contest/contest_base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div id="gvq-quiz">
            <div class="card m-4">
                <div class="card-header"><h2 class="card-title">{% trans %}Contest.thanks{% endtrans %}</h2></div>
                <div class="card-body">
                    <p>{% trans %}Contest.success{% endtrans %}</p>
                    {% if app.request.locale == 'nl' %}
                        <p>{% trans %}Contest.success.link{% endtrans %}
                        <a href="https://www.veiligverkeer.be" target="_blank">www.veiligverkeer.be</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
