{% extends 'contest/contest_base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div id="gvq-quiz">
            <div class="card m-4">
                <div class="card-header"><h2 class="card-title">{% trans %}Contest.thanks{% endtrans %}</h2></div>
                <div class="card-body">
                    <p>{% trans %}Contest.success{% endtrans %}</p>

                    <div>
                        <p>{% trans %}Contest.share{% endtrans %}</p>
                        <p>
                            {% if app.request.get('language') == 'fr' %}
                                {% include 'quiz/share-fr.html.twig' %}
                            {% else %}
                                {% include 'quiz/share-nl.html.twig' %}
                            {% endif %}
                        </p>

                        {% if app.request.getLocale() == 'nl' %}
                            <p class="pt-4">
                                Nog meer quizzen? Fris je verkeerskennis het hele jaar door op met De Kleinste Verkeersquiz.<br/>
                                <a href="https://www.veiligverkeer.be" target="_blank">Schrijf je nu in</a> en krijg elke donderdag één vraag over verkeer. Ga de uitdaging aan!
                            </p>
                        {% else %}
                            <p class="pt-4">Plus d’infos sur l’AWSR ?
                                <a href="https://www.awsr.be" target="_blank">www.awsr.be</a>,
                                <a href="http://www.tousconcernés.be" target="_blank">www.tousconcernés.be</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="gvq-play-again btn btn-primary btn-lg" onclick="playAgain();">{% trans %}Contest.play_again{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
