{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>__Beste {{ registration.user.lastName.toNative }},</p>
    <p>__Bedankt voor je interesse in de Grote Verkeersquiz 2018.</p>
    <p>__Om je activatie te voltooien moet je enkel nog op volgende link klikken</p>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
    <p>__Met vriendelijke groeten,</p>
    <p>__Team GVQ</p
{% endblock %}
