{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Madame, Monsieur,</p>
    <p>Merci pour votre inscription au Quiz de la Route 2020.</p>
    <p>Pour activer votre compte, il vous suffit de cliquer sur le lien suivant: </p>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
    <p>Bien à vous,</p>
    <p>L’équipe du Quiz de la Route</p>
{% endblock %}
