{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Beste {{ registration.user.firstName.toNative }},</p>

    <p>Bedankt voor je interesse in De Grote Verkeersquiz! Om je registratie te voltooien moet je enkel nog op volgende link klikken:</p>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
    <p>Begin oktober ontvang je van ons meer informatie over de aanpak en promotie binnen je bedrijf of organisatie.</p>
    <p>Let op: de quiz loopt pas vanaf 15 oktober. Daarvoor kan je nog niet quizzen en nog niets zien in je bedrijfsaccount.</p>
    <p>Alvast veel plezier!</p>

    <p>Vriendelijke groeten</p>
    <p>Het VSV-quizteam</p>
{% endblock %}
