{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Beste quizverantwoordelijke</p>
    <p>Op donderdag 15 oktober gaat De Grote Verkeersquiz van start. Tijd dus om alles in gereedheid te brengen in je bedrijf.</p>
    <p>Als je <a href="{{ loginUrl }}">inlogt</a>, vind je via <a href="{{ documentUrl }}">deze link</a> een korte briefing. Daarin staat alles wat je moet weten, net als een voorsteltekstje voor de interne promotie.<br/>
        <a href="{{ documentsUrl }}">Hier</a> vind je banners in verschillende formaten en een personaliseerbare flyer. Vervang gewoon even het stukje ‘jouw bedrijf’ aan het einde van de url door het laatste stukje van jullie bedrijfsurl en je hebt een op maat gemaakte flyer.
    </p>
    <p>In je account vind je ook je unieke bedrijfsurls. Je kiest zelf welke url(s) je doorgeeft aan je collega’s. Als jullie bijvoorbeeld geen Franstalige quizzers hebben, mogen jullie die link gewoon negeren.</p>
    <p>Momenteel kom je via de links nog op de homepage terecht, maar vanaf 15 oktober kunnen jullie er quizzen zoveel jullie maar willen.</p>

    <p>Wij tellen verder af en hopen dat jullie er ook helemaal klaar voor zijn!</p>

    <p>Heb je nog een vraag? Laat dan gerust iets weten via groteverkeersquiz@vsv.be.</p>

    <p>Vriendelijke groeten en alvast veel quizplezier</p>

    <p>Het Grote Verkeersquiz-team</p>
{% endblock %}
