{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Madame, Monsieur,</p>
    <p>Le Quiz de la Route 2020 sera lancé ce 15 octobre. Il vous reste donc encore quelques jours pour tout finaliser au sein de votre entreprise!</p>
    <p>Vous trouverez <a href="{{ documentUrl }}">ici</a> toutes les informations que vous devez connaitre sur cette édition du Quiz de la Route aussi bien en français qu’en néerlandais. Vous pourrez donc en faire plus facilement la promotion en interne.</p>
    <p>Vous trouverez également <a href="{{ documentsUrl }}">ici</a> une série de banners en différents formats.</p>
    <p><a href="{{ documentsUrl }}">Sur cette page</a>, vous pouvez télécharger des flyers et affiches personnalisables pour votre entreprise.
        Pour cela, il vous suffit de supprimer le texte “votre entreprise” et de le remplacer par votre url personnalisée.</p>
    <p>Si vous n’avez pas de travailleurs néerlandophones au sein de votre entreprise, il n’est donc pas utile d’utiliser ou de communiquer l’url en néerlandais.</p>
    <p>Pour l’instant, votre url vous amène sur la page d’accueil du site mais dès le 1er octobre, elle vous permettra de jouer directement au quiz de la route 2020.</p>
    <p>Si vous avez des questions ou des demandes particulières, n’hésitez pas à nous contacter!</p>
    <p>D’ores et déjà, bonne chance!</p>
    <p>L’équipe du Quiz de la Route</p>
{% endblock %}
