{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Beste {{ registration.user.firstName.toNative }}</p>
    <p>Je bent geregistreerd met één of meerdere bedrijven voor De Grote Verkeersquiz 2019.</p>
    <p>De quiz is van start gegaan op 18 oktober. In bijlage vind je meer informatie. Je kan dit document ook raadplegen
        via deze link: <a href="{{ documentUrl }}">Kick-off document</a>.</p>
    <p>Via de link hieronder kan je inloggen.</p>
    <a href="{{ loginUrl }}">{{ loginUrl }}</a>

    <p>Vriendelijke groeten</p>
    <p>Het VSV-quizteam</p>
{% endblock %}
