{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>__Beste {{ registration.user.firstName.toNative }},</p>
    <p>
        __Iemand heeft op de site een aanvraag gedaan om het paswoord van jou account opnieuw in te stellen.
        __Als jij dit niet was, negeer dan deze mail.
    </p>
    <p>__Om je wachtwoord opnieuw in te stellen volg je de volgende link</p>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
    <p>__Met vriendelijke groeten,</p>
    <p>__Team GVQ</p
{% endblock %}
