{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Madame, Monsieur,</p>
    <p>Nous avons reçu une demande de réinitialisation du mot de passe de votre compte pour le Quiz de la Route 2020.</p>
    <p>Si vous n’avez pas fait cette demande, ne tenez pas compte de ce mail.</p>
    <p>Pour réinitialiser votre mot de passe, suivez le lien ci-dessous :</p>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
    <p>Bien à vous,</p>
    <p>L’équipe du Quiz de la Route</p
{% endblock %}
