{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Beste {{ registration.user.firstName.toNative }}</p>
    <p>
        Iemand heeft op de site een aanvraag gedaan om het wachtwoord van je account opnieuw in te stellen.
        Als jij dat niet was, mag je deze mail negeren.
    </p>
    <p>Als je je wachtwoord opnieuw wil instellen, volg je volgende link</p>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>

    <p>Vriendelijke groeten</p>
    <p>Het VSV-quizteam</p>
{% endblock %}
