{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Beste {{ registration.user.firstName.toNative }},</p>
    <p>
        Welkom bij de grote verkeersquiz. Uw account werd succesvol aangemaakt.
    </p>
    <p>Je kan inloggen met de onderstaande link en beginnen je bedrijven te beheren.</p>
    <a href="{{ loginUrl }}">{{ loginUrl }}</a>
    <p>Met vriendelijke groeten,</p>
    <p>Team GVQ</p
{% endblock %}
