{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Beste {{ registration.user.firstName.toNative }}</p>
    <p>Welkom bij De Grote Verkeersquiz. Je account werd succesvol aangemaakt.</p>
    <p>Via onderstaande link kan je inloggen en de gegevens van je bedrijf beheren.</p>
    <a href="{{ loginUrl }}">{{ loginUrl }}</a>

    <p>Vriendelijke groeten</p>
    <p>Het VSV-quizteam</p>
{% endblock %}
