{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Madame, Monsieur,</p>
    <p>Merci pour votre inscription au Quiz de la Route 2018!</p>
    <p>Votre compte a été activé avec succès.</p>
    <p>Pour commencer à jouer pour votre entreprise, connectez-vous avec le lien suivant:</p>
    <a href="{{ loginUrl }}">{{ loginUrl }}</a>
    <p>Bien à vous,</p>
    <p>L’équipe du Quiz de la Route</p
{% endblock %}
