{% extends 'authenticated_base.html.twig' %}

{% block title %}{% trans %}Statistics{% endtrans %}{% endblock %}

{% block content %}

    {% include '/includes/flash.html.twig' %}

    <h1 class="page-title">{% trans %}Statistics{% endtrans %}</h1>
    <table class="table">
        <thead class="thead-dark thead-primary">
        <tr>
            <td></td>
            <th colspan="3">{% trans %}Individual{% endtrans %}</th>
            <th colspan="3">{% trans %}Company{% endtrans %}</th>
            <th colspan="3">{% trans %}Partner{% endtrans %}</th>
            <th colspan="3">{% trans %}Cup{% endtrans %}</th>
            <th colspan="3">{% trans %}Total{% endtrans %}</th>
        </tr>
        <tr>
            <td></td>
            {% for i in range(1,5) %}
            <th>{% trans %}NL{% endtrans %}</th>
            <th>{% trans %}FR{% endtrans %}</th>
            <th>{% trans %}Total{% endtrans %}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% trans %}Started{% endtrans %}</td>
                {% include '/includes/statistics_row.html.twig' with {'counts': startedCounts} %}
            </tr>
            <tr>
                <td>{% trans %}Finished{% endtrans %}</td>
                {% include '/includes/statistics_row.html.twig' with {'counts': finishedCounts} %}
            </tr>
        </tbody>
    </table>

{% endblock %}
