{% extends 'authenticated_base.html.twig' %}

{% block title %}{% trans %}Statistics{% endtrans %}{% endblock %}

{% block content %}

    <h1 class="page-title">{% trans %}Statistics{% endtrans %}</h1>

    {% include '/includes/flash.html.twig' %}
    
{% endblock %}
