.container {
	@include clearfix();
}

.page-main {
	padding-bottom: $global-margin/2;
	padding-top: $global-margin/2;
	@include breakpoint(map-get($breakpoints, med)) {
		padding-bottom: $global-margin;
		padding-top: $global-margin;
	}
	@include breakpoint(map-get($breakpoints, menu)) {
		padding-bottom: $global-margin*2;
		padding-top: $global-margin*2;
	}
}

small {
	line-height: $line-height-small;
}

hr {

}

form {
    max-width: 750px;
}

.invalid-feedback {
    line-height: $line-height-small;
}
