// Bundle all bootstrap overrides

.btn {
	&-primary {
		background-color: $brand-blue;
		border-color: $brand-blue;

		&:hover,
		&:active,
		&:focus {
			background-color: darken($brand-blue, 10%);
			border-color: darken($brand-blue, 10%);
		}
	}
}

hr {
	border-top-color: rgba(0, 0, 0, 0.125);
}

.text-muted {
	color: lighten($color-text, 20%) !important;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.85rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1, .h1 {
	font-size: 2rem;
}

h2, .h2 {
	font-size: 1.8rem;
}

h3, .h3 {
	font-size: 1.4rem;
}

h4, .h4 {
	font-size: 1.1rem;
}

h5, .h5 {
	font-size: 1rem;
}

h6, .h6 {
	font-size: .85rem;
}

.card-title {
	margin-bottom: 0.85rem;
}

.card-link {
	font-weight: 600;
	text-decoration: underline;
}