body.route-quiz {
  background-color: #F9F9F9;
}

// General
#gvq-quiz {
  font-family: museo-sans-rounded, sans-serif;

  margin: auto;
  max-width: 1200px;

    @include breakpoint(map-get($breakpoints, sml)) {
        padding: 1em;
    }

  input, button, select, optgroup, textarea {
    max-width: 100%;
  }

  .card-header {
    p.h4 {
      margin-top: 0.8em;
      margin-bottom: 0em;
    }
  }

  .card, .card-header, .card-footer {
    background-color: inherit;
  }

  .card-footer {
    text-align: center;
  }

  .card-footer .btn {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3em;
    border-radius: 0.6rem;
    padding: 0.5em 0.8em;
  }

  h2 {
    color: $color-primary;
    text-transform: none;
    font-weight: 900;

    font-size: 1.8em;

    @include breakpoint(map-get($breakpoints, sml)) {
      font-size: 2.6em;
    }

    .badge {
      text-transform: uppercase;
      border-radius: 0.8rem;
      padding: 0.8em;
      font-size: 50%;
      font-weight: 900;
    }
  }

  p.h4 {
    font-weight: 900;
    color: $gray-50;

    font-size: 1.4em;

    @include breakpoint(map-get($breakpoints, sml)) {
      font-size: 1.8em;
      margin-bottom: 1.8em;
    }
  }

  // Override gray borders on cards only within Quiz
  .card,
  .card-header,
  .card-footer {
    border: none;
  }
  .card-header,
  .card-body,
  .card-footer {
    overflow: hidden;
    padding: 1.5em 0 0;
  }
  .card-footer {
    button {
      margin-bottom: 0.5em !important;
    }
  }
}

// Quiz login
.participation-form > .container {
  max-width: 500px;
  margin: auto;
  @include breakpoint(map-get($breakpoints, med), max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

  // Quiz answers
ul.gvq-answers {
  counter-reset: numbering;
}

ul.gvq-answers li {
  padding-left: 4rem;
  position: relative;

  &.list-group-item {
    margin-bottom: 0.5em;
    border: 1px solid darken($gray-25, 5%);
    box-shadow: 0 0 2px 2px $gray-25;
    border-radius: 0.8rem;
    font-size: 1.2em;
    padding-right: 3em;

    &:first-child {
      border-radius: 0.8rem;
    }

    &:last-child {
      border-radius: 0.8rem;
    }
  }

  &:after {
    content: counter(numbering, upper-alpha) ".";
    counter-increment: numbering;
    font-weight: 900;
    left: 1rem;
    position: absolute;
    top: 0.75rem;
    color: $gray-50;
    font-size: 1.3em;
  }
}

ul.gvq-answers li:hover {
  cursor: pointer;
}

ul.gvq-answers li.selected-answer:not(.is-correct) {
  background-color: $brand-red;
  color: $white;

  &:after {
    color: $white;
  }

  &:before {
    color: $white;
  }
}

ul.gvq-answers li.is-correct {
  background-color: $brand-green;
  color: $white;

  &:after {
    color: $white;
  }

  &:before {
    color: $white;
  }
}

// Quiz header
.gvq-countdown {
  &.hide-on-mobile {
    display: none;
  }

  @include breakpoint(map-get($breakpoints, sml)) {
    display: block;

    &.hide-on-mobile {
      display: block;
    }
  }

  &.finished {
    color: $brand-red;
  }
}

.gvq-question-image {
  height: auto;
  width: 100%;
}

.gvq-view-score {
  display: none;
}

.gvq-next-question {
  display: none;
}

.gvq-quiz-old-view {
  opacity: .7;
  pointer-events: none;
}

.gvq-team-banner {
  padding: 20px;
}

.gvq-team-banner img {
  max-height: 150px;
  width: auto;
  margin: auto;
  display: block;
  background-color: white;
}

.counter {
  background-color: $brand-red;
  border-radius: 100%;
  color: $white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2rem;
  height: 2.2rem;
  width: 2.2rem;
  text-align: center;
}

.gvq-score {
  border: 2px solid $color-primary;
  border-radius: 100%;
  color: $color-primary;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 6.5rem;
  height: 7rem;
  width: 7rem;
  text-align: center;
}

.questionNr {
  color: $gray-50;
}

.btn-facebook {
  background-color: #3b5998;
  &:hover,
  &:focus,
  &:active {
    background-color: darken(#3b5998, 10%);
  }
}

.btn-twitter {
  background-color: #00aced;
  &:hover,
  &:focus,
  &:active {
    background-color: darken(#00aced, 10%);
  }
}
