<div class="dropdown-menu" aria-labelledby="user_dropdown">
    <a class="dropdown-item" href="#">{% trans %}Menu.change.password{% endtrans %}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('accounts_logout') }}">{% trans %}Menu.logout{% endtrans %}</a>
</div>