<ul class="nav nav-pills mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="#">{% trans %}Dashboard{% endtrans %}</a>
    </li>
    <li class="nav-item {% if 'companies' in app.request.get('_route') %}active{% endif %}">
        <a class="nav-link {% if 'companies' in app.request.get('_route') %}active{% endif %}"
           href="{{ path('companies_view_index') }}">{% trans %}Companies{% endtrans %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{% trans %}Results{% endtrans %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{% trans %}Documents{% endtrans %}</a>
    </li>
</ul>


