<div class="dropdown-menu" aria-labelledby="user_dropdown">
    <a class="dropdown-item" href="#">Paswoord wijzigen</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">{% trans %}To.personal.data{% endtrans %}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('accounts_logout') }}">Afmelden</a>
</div>