<!-- Witte balk -->
<div class="footer-partners">
    <div class="container-fluid">
        <p>En collaboration avec:</p>
        <div class="row align-items-center">
            <div class="col-12 col-md-12">
                <a href="http://www.awsr.be" target="_blank"><img src="{{ asset('images/logos/gvq_awsr_logo.svg') }}"
                                                                 alt="AWSR (Agence Wallonne pour la Sécurité Routière)"></a>
            </div>
        </div>
    </div>
</div>

<!-- Blauwe balk -->
<div class="footer-sponsors">
    <div class="container-fluid">

        <div class="row align-items-center justify-content-start">
            <div class="col-auto">
                Partenaires:
            </div>
            <div class="col-auto">
                <a href="http://www.sudinfo.be/" target="_blank"><img
                        src="{{ asset('images/logos/gvq_partner_sudpresse.jpg') }}" height="25" alt="Sudpresse"></a>
            </div>
        </div>
    </div>
</div>

<!-- Witte onderste -->
<footer role="contentinfo" class="page-footer">
    <div class="container-fluid">
        <small>Website made by <a href="https://www.2dotstwice.be" target="_blank">2dotstwice</a></small>
    </div>
</footer>
