<div class="doormat">
  <div class="container">In samenwerking met:</div>
</div>
<footer role="contentinfo" class="page-footer">
  <div class="container">
    <small>Website made by <a href="https://www.2dotstwice.be" tarhet="_blank">2dotstwice</a></small>
  </div>
</footer>
