<!-- Witte balk -->
<div class="footer-partners">
    <div class="container-fluid">
        <p>In samenwerking met:</p>
        <div class="row align-items-center">
            <div class="col-6 col-md-6">
                <a href="http://www.vlaanderen.be" target="_blank"><img
                        src="{{ asset('images/logos/gvq_partner_vlaanderen.png') }}" alt="Vlaanderen"></a>
            </div>
            <div class="col-6 col-md-6">
                <a href="http://www.vsv.be" target="_blank"><img src="{{ asset('images/logos/gvq_vsv_logo.svg') }}"
                                                                 alt="VSV (Vlaamse Stichting Verkeerskunde)"></a>
            </div>
        </div>
    </div>
</div>

<!-- Blauwe balk -->
<div class="footer-sponsors">
    <div class="container-fluid">

        <div class="row align-items-center justify-content-start">
            <div class="col-auto">
                Partners:
            </div>
            <div class="col-auto">
                <a href="http://www.nieuwsblad.be" target="_blank"><img
                        src="{{ asset('images/logos/gvq_partner_nieuwsblad.png') }}" height="25" alt="Nieuwsblad"></a>
            </div>
            <div class="col-auto">
                <a href="http://www.dats24.be" target="_blank"><img
                        src="{{ asset('images/logos/gvq_partner_dats-24.png') }}" height="30" alt="DATS 24"></a>
            </div>
        </div>
    </div>
</div>

<!-- Witte onderste -->
<footer role="contentinfo" class="page-footer">
    <div class="container-fluid">
        <small>Website made by <a href="https://www.2dotstwice.be" target="_blank">2dotstwice</a></small>
    </div>
</footer>
