<!-- Witte balk -->
<div class="footer-partners">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm">
                <a href="http://www.awsr.be" target="_blank"><img src="{{ asset('images/logos/gvq_awsr_logo.svg') }}"
                                                                 alt="AWSR (Agence Wallonne pour la Sécurité Routière)"></a>
            </div>
        </div>
    </div>
</div>

<!-- Blauwe balk -->
<div class="footer-sponsors">
    <div class="container-fluid">
        <p>Partenaires:</p>
        <div class="row align-items-center">
            <div class="col-sm">
                <a href="https://www.axa.be/fr/" target="_blank" style="margin-right: 40px"><img
                            src="{{ asset('images/logos/gvq_partner_axa.svg') }}" width="100" alt="AXA"></a>
                <a href="http://www.uwe.be/" target="_blank" style="margin-right: 40px"><img
                            src="{{ asset('images/logos/gvq_partner_uwe.svg') }}" width="100" alt="union Wallonne des entreprises"></a>
            </div>
        </div>
    </div>
</div>

<!-- Witte onderste -->
<footer role="contentinfo" class="page-footer">
    <div class="container-fluid">
        <small>Website made by <a href="https://www.2dotstwice.be" target="_blank">2dotstwice</a></small>
    </div>
</footer>
