<header role="banner" class="page-header">
    <div class="container-fluid">

        {% if app.request.locale == 'fr' %}
            {% include '/includes/logo-fr.html.twig' %}
        {% else %}
            {% include '/includes/logo-nl.html.twig' %}
        {% endif %}

    </div>
</header>
