{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/quiz.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="text-center">
    {% if language == 'nl' %}
        {% if channel == 'cup' %}
            <p>De Grote Verkeerscup loopt van 18 oktober tot en met 18 november 2019.</p>
        {% else %}
            <p>De Grote Verkeersquiz loopt van 18 oktober tot en met 18 november 2019.</p>
        {% endif %}
    {% else %}
        {% if channel == 'cup' %}
            <p>Le Coupe de la Sécurité routière commence le 18 octobre et se termine le 18 novembre 2019.</p>
        {% else %}
            <p>Le Grand Quiz de la Route commence le 18 octobre et se termine le 18 novembre 2019.</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
