{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/quiz.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="text-center">
    {% if language == 'nl' %}
        {% if channel == 'league' %}
            <p>De Grote Verkeersleague loopt van 1 oktober tot en met 31 oktober 2019.</p>
        {% else %}
            <p>De Grote Verkeersquiz loopt van 1 oktober tot en met 31 oktober 2019.</p>
        {% endif %}
    {% else %}
        <p>Le Grand Quiz de la Route commence le 1 octobre et se termine le 31 octobre 2019.</p>
    {% endif %}
    </div>
{% endblock %}
