<div class="socializer a sr-48px sr-squircle sr-opacity sr-icon-white sr-pad">
    <span class="sr-facebook">
        <a href="https://facebook.com/sharer/sharer.php?u=https://www.quizdelaroute.be"
           target="popup-1"
           aria-label="Partager sur Facebook"
           alt="Partager sur Facebook"
           onclick="window.open(this.href,'popup-1','width=450,height=450'); return false;"><i class="fab fa-facebook-f"></i></a>
    </span>
    <span class="sr-twitter">
        <a
            href="https://twitter.com/intent/tweet/?text=J'ai participé au quiz de la route. Tentez votre chance et voyez si vous pouvez faire mieux!&url=https://www.quizdelaroute.be"
            target="popup-2"
            aria-label="Partager sur Twitter"
            alt="Partager sur Twitter"
            onclick="window.open(this.href,'popup-2','width=450,height=450'); return false;"><i class="fab fa-twitter"></i></a>
    </span>
    <span class="sr-linkedin">
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.quizdelaroute.be&amp;summary="
           target="popup-3"
           aria-label="Partager sur LinkedIn"
           alt="Partager sur LinkedIn"
           onclick="window.open(this.href,'popup-3','width=450,height=450'); return false;"><i class="fab fa-linkedin"></i></a>
    </span>
</div>