<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        {# for HTML header #}
        {% block header %}{% endblock %}

        {# for HTML nav #}
        {% block nav %}{% endblock %}

        {% block content %}{% endblock %}

        {# for HTML footer #}
        {% block footer %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>

</html>
