{% extends 'admin_base.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block content %}

    <h1 class="page-title">{% trans %}Dashboard{% endtrans %}</h1>

    {% for company in companies %}
        <p>{{ company.name.toNative }}</p>
    {% endfor %}

{% endblock %}
