<table class="table table-responsive-md">
    <thead class="thead-dark thead-primary">
    <tr>
        <th>{% trans %}Category{% endtrans %}</th>
        <th>{% trans %}Percentage{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for categoryPercentage in categoriesPercentages %}
        <tr>
            <td>
            {% if app.request.locale == 'fr' %}
                {%  if categoryPercentage.category.id.toString == 'a7910bf1-05f9-4bdb-8dee-1256cbfafc0b' %}
                    Règles du code de de la route
                {%  elseif categoryPercentage.category.id.toString == '1289d4b5-e88e-4b3c-9223-eb2c7c49f4d0' %}
                    Premiers secours/assurances
                {%  elseif categoryPercentage.category.id.toString == '15530c78-2b1c-4820-bcfb-e04c5e2224b9' %}
                    Usagers faibles
                {%  elseif categoryPercentage.category.id.toString == 'fce11f3c-24ad-4aed-b00d-0069e3404749' %}
                    Transports en commun et environnement
                {%  elseif categoryPercentage.category.id.toString == '67844067-82ca-4698-a713-b5fbd4c729c5' %}
                    Signaux routiers
                {%  elseif categoryPercentage.category.id.toString == '6f0c9e04-1e84-4ba4-be54-ab5747111754' %}
                    Conseils de sécurité
                {%  elseif categoryPercentage.category.id.toString == '9677995d-5fc5-48cd-a251-565b626cb7c1' %}
                    Véhicule / Technique
                {%  elseif categoryPercentage.category.id.toString == '58ee6bd3-a3f4-42bc-ba81-82491cec55b9' %}
                    Règles de priorité
                {%  if categoryPercentage.category.id.toString == '8de1ab10-4ccd-404d-8dbd-6cdc9f759e8d' %}
                    Véhicules motorisés
                {%  elseif categoryPercentage.category.id.toString == '8dea38e0-9d61-4d81-ab20-5a4a9632ea29' %}
                    Véhicules spéciaux
                {%  elseif categoryPercentage.category.id.toString == '0dcd5005-80b3-499b-bdef-caf86bc6334b' %}
                    Divers
                {% else %}
                    {{ categoryPercentage.category.name.toNative }}
                {% endif %}
            {%  else %}
                {{ categoryPercentage.category.name.toNative }}
            {%  endif %}
            </td>
            <td>
                {{ categoryPercentage.percentage.toPercentage.toNative }} %
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>