<table class="table table-responsive-md">
    <thead class="thead-dark thead-primary">
    <tr>
        <th>{% trans %}Category{% endtrans %}</th>
        <th>{% trans %}Percentage{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for categoryPercentage in categoriesPercentages %}
        <tr>
            <td>
                {{ categoryPercentage.category.name.toNative }}
            </td>
            <td>
                {{ categoryPercentage.percentage.toPercentage.toNative }} %
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
