<table class="table table-responsive-md">
    <thead class="thead-dark thead-primary">
    <tr>
        <th>{% trans %}Image{% endtrans %}</th>
        <th>{% trans %}Question{% endtrans %}</th>
        <th>{% trans %}Percentage{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for questionDifficulty in questionDifficulties %}
        {% include 'report/question.html.twig'
            with {'question': questionDifficulty.question, 'percentage': questionDifficulty.count} %}
    {% endfor %}
    </tbody>
</table>
